*{
    margin: 0;
    padding: 0;
}
.alert-container{
    display: none;
    justify-content: center;
    align-items: center;
}
.alert{
    position: fixed;
    z-index: 20;
    width: 800px;
    height: 100vh;
    overflow-y: auto;
    background-color: white;
    top: 0%;

}
.alert i{
    position: absolute;
    top: 10px;
    cursor: pointer;
    right: 20px;
    font-size: 30px;
    z-index: 22;
}
.alert img{
 /* object-position: contain;
  */
  width: 100%;
}
.navbar {
  height: 120px;
  width: 100%;
  display: flex;
  box-shadow: 0px 0px 10px gray;
}

.logo {
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.both-nav{
    display: flex;
    flex-direction: column;
}
.help-area{
    height: 100%;
    width: 100%;
   

}
.upernav{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-nav{
    height: 50%;
    width: 100%;
 
}

.upernav-rigth ul{
    display: flex;

    
}

.upernav-rigth ul li{
    list-style-type: none;
    margin: 10px;
    display: flex;
    align-items: center;
    
} 
.upernav-rigth ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;

    font-family: "outfit";
    font-weight: 400;
}
.upernav-left ul{
    display: flex;
}
.upernav-left ul li{
    list-style-type: none;
    margin: 15px;
    display: flex;
    align-items: center;
}
.upernav-left ul li a {
    text-decoration: none;
    color: black;
    font-family: "outfit";
    font-size: 18px;

    font-weight: 400;
}
.order{
    background-color: #FFBC0D;

    padding:8px;
    margin: 0px 10px;
    width: fit-content;
    display: flex;
    /* flex-shrink: 1; */
    border-radius: 10px;
}

.fa-location-dot{
    font-size: 25px;
    color: rgb(228, 48, 48);
    padding: 3px;
}

.fa-magnifying-glass{
    font-size: 20px;   
    padding: 5px;
}

.bottom-nav ul{
    display: flex;
    align-items: center;
    height: 100%;
   
}
.bottom-nav ul li{
    margin-right: 60px;
    list-style-type: none;
   margin-left: 14px;
   height: 100%;
   display: flex;

   align-items: center;
   overflow-x: hidden;

}
.bottom-nav ul li a{
    color: black;
    font-family: 'Outfit';
   font-size: 18px;

    position: relative;
    text-decoration: none;
    font-weight: 400;
    /* overflow: hidden; */
}
.bottom-nav ul li a:hover::after{
    content: '';
    width: 250px;
    left: 0;
    bottom:-70%;
    border: 3px solid rgb(168, 21, 21);
    position: absolute;
}

.hero-area{
    height: 800px;
    width: 800px;
    background-color: rgb(255, 255, 255);   
}

.commercial{
    position: relative;
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
}

.order-offer{width: 400px;
height: 335px;
position: absolute;
bottom: 10%;
left: 10%;
background-color:white;}

.orders{
   
    width: 100%;
   padding-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.mcCafe{
    border: 0.1px solid lightgray;
    border-radius: 6px;
    height: 400px;
    overflow: hidden;
    width: 320px;
    margin: 20px;
    background-color: white;

}

.order-pic{width: 100%;
background-color: aqua;
height: 200px;
background-size: cover ;
}

.order-name{
    color: red;
    background-color:white;
    display: flex;  
    justify-content: center;
    height: 50px;
    padding-top: 15px;
    font-size: 25px;
    font-weight: bolder;
}
.order-info{
    display: flex;
    
    width: 100%;
   
}
.order-info p{
    width: 100%;
    text-align: center;
     margin: 3px;
   font-size: 15px;
   font-family: 'outfit';
   color: rgb(0, 0, 0);}

.buton{
    height: 50px;
    width: 50px;}

#button{
    margin-top: 15px;
    margin-left: 100px;
    font-weight: 200;
    height: fit-content;
    width: fit-content;
    font-size: 15px;
    padding: 0px;
}

.commercial-pic{
    padding: 2%;
    width: 90%;
    height: fit-content;
    object-fit: cover;
}

.order-offer h1 {
    font-family: 'Outfit';
    font-size: 40px;
    padding: 11px;

}

.order-offer h5 {
    font-family: 'Outfit';
    font-size: 20px;
    padding: 11px;
    font-weight: 300;
    
}

.fa-circle{
   margin: 3px;
   font-size: 13px;
   color: grey;

}
.fa-circle:nth-child(1){
    color: red;
}





.bars{
    background-color:white;
    width: 90%;
    height: fit-content;
    display: flex;
   
    padding: 10px;
    flex-wrap: wrap;

    color: rgb(21, 21, 21);
    justify-content: center;
    justify-content: space-between;
    padding-top: 150px;
    

}

ul a {display: block;
    font-size: 25px;
    font-family: 'outfit';
   
}

.head{
    font-weight: bold;
    padding-bottom: 10px;
}

.logos-icon{ padding-left: 20px;
padding-bottom: 20px;
}



.logos-icon i{
    padding: 5px;
    font-size: 25px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 10px;
    &:hover{
        background-color: #fe2b54;
        color: white;
    }
}
 


.last-logo{
    display:flex;
    justify-content: space-between;
}



.gogpic{
     width: 200px;
}

.hrline{
    width: 90%;
    height:40px;
    padding-left: 50px;
    padding-top: 50px;
}


.term ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
   
}
.term ul li {
    margin: 14px;
    font-size:larger ;
}

.term-poloicy{
    display: flex;
    justify-content: space-between;
}

#end-logo{
    height: 35px;
    width: 35px;
    
}

.company-right{
    display: flex;
    align-items: center;
    /* margin-left: 800px; */
}
.fa-arrows-up-down{
    background-color: red;
    padding: 20px 30px;
    color: white;
    position: fixed;
    z-index: 10;
    bottom: 10%;
    right: 2%;
    border-radius: 50%;
    font-size: 40px;
}
.menu-bar{
    display: none;
}
.fa-bars{
    font-size: x-large;
    /* background-color: #fe2b54; */
    padding: 10px;
    /* display: none; */
}



@media only screen and (max-width:1000px) {
    .bottom-nav ul li a{
        font-size: 12px;
    }
    .upernav-rigth ul li a , .upernav-left ul li a{
        font-size: 12px;
    }
    .fa-location-dot ,.fa-magnifying-glass{
        font-size: 12px;
    }
}
@media only screen and (max-width:900px) {
    .bottom-nav ul li{
        margin: 10px 0px;
    }
    .upernav ul li{
        margin: 10px 0px;
    }
    .commercial{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
   .order-offer{
    position: static;
    width: 100%;
    
   }
   .scrolling-arrow{
    display: none;
   }
   .hrline{
    padding: 0%;
    width: 100%;
   }
.both-nav{
    position: fixed;
    display: none;
    /* flex-direction: column; */


z-index: 10;
    background-color: white;
    padding: 15px;
    margin: 0%;
    right: 0%;
    box-shadow: 0px 0px 10px gray;

    top: 100px;
    width: fit-content;

    height: fit-content;
}
.upernav,.upernav-left ul,.upernav-rigth ul,.bottom-nav ul{
 align-items: start;
 justify-content: start;
    display: flex;
    flex-direction: column;
}
    .help-area{
        display: flex;
        justify-content: end;
        align-items: center;
        padding-right: 30px;
    }
    .menu-bar{
        display: block;
        font-size: 30px;
    }
}